# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\gg664\OneDrive\바탕 화면\멀티캠퍼스\수업예제 깃저장소\0825.AI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
